.button {
  background-color: #346cf0;
  color: white;
  height: 40px;
  width: 100px;
}

.content {
  margin-left: 15%;
  margin-right: 15%;
}

.nav-link {
  color: black;
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
}

.nav-link:hover {
  color: #346cf0;
}

.company-name {
  color: #346cf0;
  font-size: 32px;
  font-weight: 700;
  font: bold;
  text-decoration: none;
}

.navbar {
  height: 150px;
}
