.button {
  background-image: "assets/upload.png";
  color: white;
}

.upload {
  text-align: center;
}

.card-content {
  margin-top: 20%;
}

.opensource {
  margin-top: 20%;
  width: 50%;
  color: gray;
  font-size: 15px;
}

.content {
  margin-left: 15%;
  margin-right: 15%;
  height: 100%;
}

.nav-link {
  color: black;
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
}

.nav-link:hover {
  color: #346cf0;
}

.company-name {
  color: #346cf0;
  font-size: 40px;
  font-weight: 700;
  font-weight: bold;
  text-decoration: none;
}

.navbar {
  height: 150px;
}

.descrip {
  font-size: 20px;
  word-spacing: 5px;
  line-height: 1.3;
  font-weight: 300;
}

.title-1 {
  font-size: 65px;
  height: 65px;
  font-weight: bold;
}
.content-middle {
  height: 70ex;
  margin-top: 8%;
}
.first {
  margin-top: 15%;
}
.content-second {
  height: 100%;
  width: 100%;
  position: absolute;
}

.content-card {
  height: 100%;
  width: 100%;
}
